
button{
    background-color:lightgray;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900px;
}
.Calculater{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(40px,90px);
    grid-template-rows: repeat(7,minmax(40px,90px));
    place-content:center;
}
.display{
    color: white;
    grid-column: 1/5;
    height: 90px;
    background-color: black;
}
.div0{
    grid-column:1/3;
}
.orange{
    background-color: orange;
}
.dark-gray{
    background-color: darkgray;
}
.pressed{
    box-shadow: 0 3px 4px 0 green;
    opacity: 0.5;
}
